.verification_button{
    font-size: 0.8rem;
    border-radius: 2px;
    color: #46cdce;
    box-shadow: 0 2px 4px rgba(67, 187, 188, 0.3);
    border-image: linear-gradient(282.54deg, #46cdce, #5aacf7) 1;
}